<h2 style="text-align:center">User Profile Card</h2>

<div class="card d-flex justify-content-center flex-grow-1">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcStxluD2QPRcVtccX4bEwppbrp0_QLGmdGM4Gsr373ghcFnASKI" alt="John" style="width:100%">
  <h1>{{ userData.username }}</h1>
  <!-- <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
  </div> -->
  <p><button>Follow</button></p>
</div>