<div class="d-flex flex-row">
  <img *ngIf="post.imageUrl" [src]="post.imageUrl" class="post-image" />

  <div class="m-2 p-3 d-flex justify-content-between flex-column">
    <span>
      <div *ngFor="let comment of post.comments" class="mb-3">
        <img class="comment-user-image mr-1" [src]="comment.imageUrl" />
        <strong>{{ comment.username }}</strong>
        {{ comment.comment }}
      </div>
    </span>
    <div>
      <div>
        <fa-icon class="mr-1" [icon]="heart"></fa-icon>
        <span>{{ post.numberOfLikes }}</span>
      </div>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Comment"
          aria-label="Comment"
          aria-describedby="basic-addon2"
        />
        <div class="input-group-append">
          <span class="input-group-text" style="background-color: white; cursor: pointer; color: blue" id="basic-addon2">Post</span>
        </div>
      </div>
    </div>
  </div>
</div>
