<div class="d-flex flex-row flex-wrap">
  <div *ngFor="let post of posts">
    <img *ngIf="post.imageUrl" [src]="post.imageUrl" class="post-image" />
    <img *ngIf="!post.imageUrl" src="http://tiny.cc/5n7jkz" class="post-image" />
    <div class="post-details d-flex flex-row justify-content-between">
        <button class="flex-grow-1 btn btn-light"> {{ post.numberOfLikes }} <fa-icon [icon]="heart"></fa-icon></button>
        <button class="flex-grow-1 btn btn-light"> {{ post.numberOfComments }} <fa-icon [icon]="comment"></fa-icon></button>
    </div>
  </div>
</div>
