.container {
    width: 90%;
  }
  
  .inp {
    width: 55% !important;
  }
  
  .form-control:focus {
    border-color: #007bff !important;
    box-shadow: 0 0 0 0.2rem #007bff !important;
  }
  
  .inp-btn {
    border-color: #007bff !important;
    box-shadow: #007bff !important;
    background-color: #007bff !important;
  }
  
  .inp-btn:hover {
    background-color: #007bff !important;
  }
  