<!-- Toolbar -->
<mat-toolbar
  class="d-flex justify-content-between"
  style="background-color: white;"
>
  <div class="d-flex flex-row">
    <fa-icon style="color: black;" class="mr-3" [icon]="instagram"></fa-icon>
    <div style="width: 1px; height: 35px; background-color: black; margin-right: 10px;"></div>
    <span style="color: black;">
        Instagram
    </span>
  </div>

  <div class="d-flex flex-row">
    <span
      class="input-group-text"
      id="basic-addon1"
      style="border-radius: .25rem 0rem 0rem .25rem;
      border-right: 0px;"
      ><fa-icon [icon]="search"></fa-icon
    ></span>
    <input
      type="text"
      class="form-control"
      placeholder="Search"
      aria-label="search"
      aria-describedby="basic-addon1"
    />
  </div>
  <div>
    <fa-icon style="color: black;" class="mr-4" [icon]="compass"></fa-icon>
    <fa-icon style="color: black;" [icon]="heart"></fa-icon>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
